/* Constantes */
:root {
    --background-color-alt: #f6f6f6;
    --border-color: #ddd;
    --hour-size: 4.2rem;
    --calendar-border-radius: 1rem;

    /* Constantes tordues qui sont juste là pour faire des calculs */
    --day-name-font-size: 1.05rem;
    --day-name-padding: .5rem;
}



body {
    max-width: 100rem;
    padding: 0 4rem;
    margin: 2rem auto;

    color: #567;
}

/* Remplacements de trucs de water.css */
button, input, select, textarea {
    color: #345;
    background-color: var(--background-color-alt);
}



/* Boutons en haut */
#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

#controls > * {
    border: 1px solid var(--border-color);
    border-radius: 100vmax; /* Coins arrondis et pas étirés */
    margin: 0;
}

#controls > :not(:last-child) {
    margin-right: .5rem;
}

#controls > button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}



/* Calendrier */
#calendar {
    display: flex;
    border-radius: var(--calendar-border-radius);
    box-shadow: 0 0 4px #0003;

    text-align: center;

    /* Variables remplacées dans le code */
    --day-start: 9.75;
    --day-end: 14.25;
    --day-start-mod-1: .75;
}

.hours, .day-names {
    background-color: var(--background-color-alt);
    box-shadow: 0 0 4px #0003;
}

.hours {
    width: 4ch;
    border-top-left-radius: var(--calendar-border-radius);
    border-bottom-left-radius: var(--calendar-border-radius);
    position: relative;
    z-index: 1;
}

.hours > * {
    position: absolute;
    top: calc((var(--hours) - var(--day-start)) * var(--hour-size)
        + var(--day-name-font-size) + 2 * var(--day-name-padding)); /* Hauteur des noms des jours */
    right: .125rem;
    transform: translateY(-50%);
}

.days {
    flex-grow: 1;
}

.day-names, .day-contents {
    display: flex;
    padding: 0 2px;
}

.day-names {
    border-top-right-radius: var(--calendar-border-radius);
    font-size: var(--day-name-font-size);
    font-weight: 600;
    line-height: 1; /* Pour simplifier des calculs */
}

.day-name {
    padding: var(--day-name-padding);
    width: 100%;
}

.day-name:not(:first-child),
.day-content:not(:first-child) {
    border-left: 1px dashed var(--border-color);
}



.day-contents {
    height: calc((var(--day-end) - var(--day-start)) * var(--hour-size));

    background: linear-gradient(
        #ccc 1px,
        transparent 1px, calc(var(--hour-size) / 2),
        #e4e4e4 calc(var(--hour-size) / 2), calc(var(--hour-size) / 2 + 1px),
        transparent calc(var(--hour-size) / 2 + 1px)
    );
    background-size: 100% var(--hour-size);
    background-position: 0 calc(-1 * var(--day-start-mod-1) * var(--hour-size));
    color: white;
}

.day-content {
    width: 100%;
    position: relative;
}

.day-content a {
    color: inherit;
}



.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: calc(100% - 2px);
    height: calc((var(--end) - var(--start)) * 100% - 3px);
    padding: .25rem .5rem;
    border-radius: .333rem;

    position: absolute;
    top: calc(var(--start) * 100% + 2px);
    left: 1px;

    font-size: .8rem;
    line-height: 1.25;
}

.event.overflowing:not(:hover) {
    justify-content: start;
    overflow: hidden;
    border-bottom: .4rem solid #fff4;
}

.event.overflowing:hover {
    height: auto;
    z-index: 2; /* Pour pas passer derrière les autres */
    box-shadow: 0 0 4px #0007;
}

.event > * {
    flex-shrink: 0;
}

.event-name {
    line-height: normal; /* line-height: 1 marche pô avec overflow-x */
    font-size: 1.05rem;
}

.event:not(:hover) .event-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event .material-icons {
    font-size: 1em;
    position: relative;
    top: .125em;
}
