:root {
    /* Constantes */
    --border-color: #ddd;
    --hour-line-color: #0007;
    --half-hour-line-color: #0002;
    --calendar-shadow-color: #0003;
    --evaluation-border-color: #000;
    --hour-size: calc(
        var(--event-v-padding) * 2
        + var(--event-name-font-size) * var(--event-name-line-height)
        + var(--event-visible-lines) * var(--event-font-size) * var(--event-line-height)
        + var(--event-overflow-border-thickness)
    );
    --calendar-border-radius: 1rem;
    --transition: .1s;

    /* Constantes tordues qui sont juste là pour faire des calculs */
    --day-name-font-size: 1.05rem;
    --day-name-padding: .5rem;
    --event-margin: 1px;
    --event-v-padding: .25rem;
    --event-overflow-border-thickness: .4rem;
    --event-font-size: .9rem;
    --event-line-height: 1.2;
    --event-name-font-size: 1.05rem;
    --event-name-line-height: 1.4;
    --event-visible-lines: 2;
    /*      ^ Nombres de lignes visibles pour un évènement d'une heure
     *      (sans compter le nom) */
}

:root:not(.dark) {
    /* Constantes de Water.css */
    --background: #f6f6f6;
    --text-main: #567;
    --form-text: #345;
}

:root.dark {
    --border-color: #000;
    --hour-line-color: #000;
    --half-hour-line-color: #0004;
    --calendar-shadow-color: #0008;
    --evaluation-border-color: #fff;
}



body {
    max-width: 100rem;
    padding: 0 4rem; /* margin auto pour centrer, padding pour laisser de l'espace */
    margin: 2rem auto;
    transition: background-color var(--transition);
}

body > :not(:first-child) {
    margin-top: 1rem;
}

/* Remplacements de trucs de water.css */
button, input, select, textarea {
    box-sizing: border-box;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 100vmax; /* Coins arrondis et pas étirés */
    margin: 0;

    text-align: center;
}

button.material-icons {
    width: 2.5rem;
    padding: 0;
}

input[type=date] {
    padding-left: 0;
}



/* Boutons en haut et en bas */
.controls {
    display: flex;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
}

.controls > :not(:last-child) {
    margin-right: .5rem;
}

#theme-btn::before {
    content: 'wb_sunny';
}

.dark #theme-btn::before {
    content: 'nights_stay';
}

.fetching #force-refresh-btn {
    animation: rotating 1.2s linear infinite;
}



/* Calendrier */
#calendar {
    display: flex;
    border-radius: var(--calendar-border-radius);
    box-shadow: 0 0 4px var(--calendar-shadow-color);

    text-align: center;

    /* Variables remplacées dans le code */
    --day-start: var(--shared-day-start);
    --day-end: var(--shared-day-end);
    --day-start-mod-1: var(--shared-day-start-mod-1);
    --shared-day-start: 9.75;
    --shared-day-end: 14.25;
    --shared-day-start-mod-1: .75;
    --focused-day-start: var(--shared-day-start);
    --focused-day-end: var(--shared-day-end);
    --focused-day-start-mod-1: var(--shared-day-start-mod-1);
}

/*      Heures */
.hours, .day-names {
    background-color: var(--background);
    box-shadow: 0 0 4px var(--calendar-shadow-color);
    transition: background-color var(--transition);
}

.hours {
    width: 4ch;
    border-top-left-radius: var(--calendar-border-radius);
    border-bottom-left-radius: var(--calendar-border-radius);
    position: relative;
    z-index: 1;
}

.hours > * {
    position: absolute;
    top: calc((var(--hours) - var(--day-start)) * var(--hour-size)
        + var(--day-name-font-size) + 2 * var(--day-name-padding)); /* Hauteur des noms des jours */
    right: .125rem;
    transform: translateY(-50%);
}

/*      Jours */
.days {
    flex-grow: 1;
}

.day-names, .day-contents {
    display: flex;
    padding: 0 1px 0 2px; /* Asymétrique pour l'ombre des heures à gauche */
}

.day-names {
    border-top-right-radius: var(--calendar-border-radius);
    font-size: var(--day-name-font-size);
    font-weight: 600;
    line-height: 1; /* Pour simplifier des calculs */
}

.day-name {
    padding: var(--day-name-padding);
    width: 100%;
}

.day-name:not(:first-child),
.day-content:not(:first-child) {
    border-left: 1px dashed var(--border-color);
    transition: border-left-color var(--transition);
}



.day-contents {
    height: calc((var(--day-end) - var(--day-start)) * var(--hour-size));

    background: linear-gradient(
        var(--hour-line-color) 1px,
        transparent 1px, calc(var(--hour-size) / 2),
        var(--half-hour-line-color) calc(var(--hour-size) / 2), calc(var(--hour-size) / 2 + 1px),
        transparent calc(var(--hour-size) / 2 + 1px)
    );
    background-size: 100% var(--hour-size);
    background-position: 0 calc(-1 * var(--day-start-mod-1) * var(--hour-size));
    color: white;
}

.day-content {
    width: 100%;
    position: relative;
}

.day-content.today {
    background-color: hsl(195deg 75% 67% / 0.25);
}



/*      Events */
.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: calc(100% - 2 * var(--event-margin));
    --height: calc((var(--event-end) - var(--event-start)) * var(--hour-size) - 1px - 2 * var(--event-margin));
    height: var(--height);
    min-height: var(--height);
    padding: var(--event-v-padding) .5rem;
    border-radius: .333rem;

    position: absolute;
    top: calc((var(--event-start) - var(--day-start)) * var(--hour-size) + 1px + var(--event-margin));
    left: var(--event-margin);

    font-size: var(--event-font-size);
    line-height: var(--event-line-height);
}

.dark .event {
    opacity: .9;
}

.event[data-type=EV] {
    border: .25rem solid var(--evaluation-border-color);
    transition: border-color var(--transition);
}

.event:hover {
    height: auto;
    z-index: 2; /* Pour pas passer derrière les autres */
    box-shadow: 0 0 4px #0007;
}

.event.overflowing:not(:hover) {
    justify-content: start; /* Alignement en haut */
    overflow: hidden;
    border-bottom: var(--event-overflow-border-thickness) solid #fff4;
}

.event > * {
    flex-shrink: 0;
}

.event > :not(.event-name) {
    margin: 0 auto; /* Pour pas que le lien fasse toute la ligne */
}

.event-name {
    line-height: var(--event-name-line-height); /* line-height: 1 marche pô avec overflow-x */
    font-size: var(--event-name-font-size);
}

:root:not(.simple) .event:not(:hover) .event-name,
.simple .event.short:not(:hover) .event-name {
    /* Recoupage sauf pour les cours longs en mode simple */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event a {
    color: inherit;
}

.event .material-icons {
    font-size: 1em;
    position: relative;
    top: .125em;
}

.event .event-type ~ *::before {
    /* Points pour séparer (CSS pour pas avoir à les enlever en JS) */
    content: ' • ';
}



/* Mode simple */
.simple {
    --day-name-font-size: 1.125rem;
    /* (Modifie pas les autres variables pour que tout reste de la même taille */
}

.simple .event {
    padding-top: calc(var(--event-v-padding) / 2);
    padding-bottom: calc(var(--event-v-padding) / 2);
}

.simple .event {
    font-size: 1rem;
}

.simple .event .event-name {
    font-size: 1.25rem;
}

.simple .event > :not(.event-name):not(.event-schedule) {
    display: none;
}



@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



@media(max-width: 960px) {
    body {
        padding: 0;
        margin: 1.5rem 1rem;
    }

    @media(min-width: 641px) {
        :root {
            --event-name-font-size: 1rem;
            --event-font-size: .8rem;
        }
    }
}

@media(max-width: 640px) {
    :root {
        --day-name-font-size: 1rem;
    }

    body {
        margin: .5rem;
    }

    body > :not(:first-child) {
        margin-top: .5rem;
    }

    #calendar {
        --day-start: var(--focused-day-start);
        --day-end: var(--focused-day-end);
        --day-start-mod-1: var(--focused-day-start-mod-1);
    }

    .day-name:not(.focused-day),
    .day-content:not(.focused-day) {
        display: none;
    }

    .day-name:not(:first-child),
    .day-content:not(:first-child) {
        border-left: none; /* Pas de pointillés à gauche */
    }

    .day-content.today {
        background: none;
    }
}
