:root {
    /* Constantes */
    --border-color: #ddd;
    --hour-line-color: #ccc;
    --half-hour-line-color: #e4e4e4;
    --calendar-shadow-color: #0003;
    --hour-size: 4.2rem;
    --calendar-border-radius: 1rem;

    /* Constantes tordues qui sont juste là pour faire des calculs */
    --day-name-font-size: 1.05rem;
    --day-name-padding: .5rem;
}

:root:not(.dark) {
    /* Constantes de Water.css */
    --background: #f6f6f6;
    --text-main: #567;
    --form-text: #345;
}

:root.dark {
    --border-color: #000;
    --hour-line-color: #000;
    --half-hour-line-color: #0004;
    --calendar-shadow-color: #0008;
}



body {
    max-width: 100rem;
    padding: 0 4rem;
    margin: 2rem auto;
}

body > :not(:first-child) {
    margin-top: 1rem;
}

/* Remplacements de trucs de water.css */
button, input, select, textarea {
    box-sizing: border-box;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 100vmax; /* Coins arrondis et pas étirés */
    margin: 0;

    text-align: center;
}

button.material-icons {
    width: 2.5rem;
    padding: 0;
}

input[type=date] {
    /* Trucs pour essayer de centrer le texte */
    padding-left: 0;
}



/* Boutons en haut et en bas */
.controls {
    display: flex;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
}

.controls > :not(:last-child) {
    margin-right: .5rem;
}

#theme-btn::before {
    content: 'wb_sunny';
}

.dark #theme-btn::before {
    content: 'nights_stay';
}

.fetching #force-refresh-btn {
    animation: rotating 1.2s linear infinite;
}



/* Calendrier */
#calendar {
    display: flex;
    border-radius: var(--calendar-border-radius);
    box-shadow: 0 0 4px var(--calendar-shadow-color);

    text-align: center;

    /* Variables remplacées dans le code */
    --day-start: 9.75;
    --day-end: 14.25;
    --day-start-mod-1: .75;
}

.hours, .day-names {
    background-color: var(--background);
    box-shadow: 0 0 4px var(--calendar-shadow-color);
}

.hours {
    width: 4ch;
    border-top-left-radius: var(--calendar-border-radius);
    border-bottom-left-radius: var(--calendar-border-radius);
    position: relative;
    z-index: 1;
}

.hours > * {
    position: absolute;
    top: calc((var(--hours) - var(--day-start)) * var(--hour-size)
        + var(--day-name-font-size) + 2 * var(--day-name-padding)); /* Hauteur des noms des jours */
    right: .125rem;
    transform: translateY(-50%);
}

.days {
    flex-grow: 1;
}

.day-names, .day-contents {
    display: flex;
    padding: 0 2px;
}

.day-names {
    border-top-right-radius: var(--calendar-border-radius);
    font-size: var(--day-name-font-size);
    font-weight: 600;
    line-height: 1; /* Pour simplifier des calculs */
}

.day-name {
    padding: var(--day-name-padding);
    width: 100%;
}

.day-name:not(:first-child),
.day-content:not(:first-child) {
    border-left: 1px dashed var(--border-color);
}



.day-contents {
    height: calc((var(--day-end) - var(--day-start)) * var(--hour-size));

    background: linear-gradient(
        var(--hour-line-color) 1px,
        transparent 1px, calc(var(--hour-size) / 2),
        var(--half-hour-line-color) calc(var(--hour-size) / 2), calc(var(--hour-size) / 2 + 1px),
        transparent calc(var(--hour-size) / 2 + 1px)
    );
    background-size: 100% var(--hour-size);
    background-position: 0 calc(-1 * var(--day-start-mod-1) * var(--hour-size));
    color: white;
}

.day-content {
    width: 100%;
    position: relative;
}

.day-content.today {
    background-color: hsl(195deg 75% 67% / 0.25);
}



.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: calc(100% - 2px);
    --height: calc((var(--end) - var(--start)) * 100% - 3px);
    height: var(--height);
    min-height: var(--height);
    padding: .25rem .5rem;
    border-radius: .333rem;

    position: absolute;
    top: calc(var(--start) * 100% + 2px);
    left: 1px;

    font-size: .8rem;
    line-height: 1.25;
}

.dark .event {
    opacity: .9;
}

.event:hover {
    height: auto;
    z-index: 2; /* Pour pas passer derrière les autres */
}

.event.overflowing:not(:hover) {
    justify-content: start;
    overflow: hidden;
    border-bottom: .4rem solid #fff4;
}

.event.overflowing:hover {
    box-shadow: 0 0 4px #0007;
}

.event > * {
    flex-shrink: 0;
}

.event-name {
    line-height: normal; /* line-height: 1 marche pô avec overflow-x */
    font-size: 1.05rem;
}

.event:not(:hover) .event-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event a {
    color: inherit;
}

.event .material-icons {
    font-size: 1em;
    position: relative;
    top: .125em;
}



@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



@media(max-width: 960px) {
    body {
        padding: 0 1rem;
    }

    .event-name {
        font-size: 1rem;
    }
}

@media(max-width: 640px) {
    .day-name:not(.focused-day),
    .day-content:not(.focused-day) {
        display: none;
    }

    .day-content.today {
        background: none;
    }
}
